@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline: 1px solid red;
}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    text-align: center;
}

.header {
    width: 100%;
    /* border:1px solid black; */
}

.header-container {
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border:1px solid black; */
    padding: 1rem;

}

.logo {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;


}

.logo-icon {
    height: 5.8rem;
    width: 1.9rem;

}

.navlist {
    /* width:375px; */
    display: none;

    gap: 1.5rem;



}

.navlist a {
    color: rgb(113, 128, 150);
    font-size: 18px;
    font-weight: 600;
    transform: color 0.1s;

}

.navlist a:hover {
    color: var(--link-color);
}

.Contact-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.5rem;
    border-radius: 0.6rem;
    display: none;
    font-weight: 600;
}

.menubutton {

    background-color: var(--background-color);
    border: none;
    display: inline-block;
    padding: 0.5rem 0.9rem;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (min-width:768px) {
    .Contact-button {
        display: block;
    }

    .navlist {
        display: flex;
    }

    .menubutton {
        display: none;
    }
}

.content {
    width: 100%;
}

.main {
    max-width: 1290px;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    align-items: center;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 0.7rem;


}

.main-intro {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.main-title {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 1.1rem;
    color: var(--text-color);

}

.titleDescription {
    font-size: 1.2rem;
    color: var(--gray);

}

.buttonGroup {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;


}

.start,
.tour {

    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.5rem;
    border-radius: 0.6rem;
    font-weight: 600;
}

.tour {
    background: var(--dark-gray);
}

.start:hover {
    background-color: var(--accent-color);
}

.tour:hover {
    background-color: var(--gray);

}

.left {
    text-align: center;
    opacity: 0;
    animation: slideleft 1s ease forwards;

}

@keyframes slideleft {
    0% {
        transform: translateX(-100%);
        opacity: 0;


    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slideright {
    0% {
        transform: translateX(100%);
        opacity: 0;


    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {

    height: 50vh;
    overflow: hidden;
    border-radius: 1.22rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;


}

.img {
    height: 100%;
    width: 100%;
}


.companyContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    animation: slideleft 1s ease forwards;

}

.companyTitle {
    font-size: 2.3rem;
    font-weight: 800;
}

.companyImg {
    height: 1.4rem;
}

.companyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows:repeat(2,1fr); */
    background-color: var(--light-gray);
    padding: 1.8rem 2.5rem;
    gap: 3.6rem;
    border-radius: 0.6rem;



}

.companyLogo {
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    color: var(--gray);

}

.companyName {
    font-size: 1rem;


}

@media screen and (min-width:768px) {
    .main {
        flex-direction: row;
    }

    .left {
        max-width: 50%;
        text-align: left;
    }

    .img-container {
        height: 68vh;
    }

    .main-title {
        font-size: 3.8rem;
        padding-left: 0;

    }

    .main-intro {
        padding-left: 0;
        font-size: 1.3rem;
    }

    .buttonGroup {
        justify-content: flex-start;
        padding-left: 0;
    }

}

@media screen and (min-width:640px) {
    .companyGrid {
        grid-template-columns: repeat(4, 1fr);

    }

}

.features {
    background-color: var(--light-gray);

}

.featuresContent {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 2.5rem;

}

.featuresTitle {
    font-size: 2.2rem;
    font-weight: bold;

}

.featuresDescription {
    color: var(--gray);
    margin: 1rem 0;
}

.featuresGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;


    /* justify-content: center;
    align-items: center; */
    /* border: 1px solid white; */
}

.featuresCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    padding: 1.7rem;
    gap: 1rem;
    color: var(--background-color);
    text-align: center;
    animation: slideright 1s ease forwards;


}

.featureCardinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.cardTitle {
    font-size: 1.3rem;
}

.featureImgContainer {
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


}

.featuresImg {
    height: 1.5rem;

}

.cardDescription {
    font-size: 1rem;
}

.featuresCard:nth-child(1) {
    background-color: #4a90e2;
}

.featuresCard:nth-child(2) {
    background-color: #FF6289;
}

.featuresCard:nth-child(3) {
    background-color: #fcbf58;
}

.featuresCard:nth-child(4) {
    background-color: #44bfc3;
}

.featuresCard:nth-child(5) {
    background-color: #77b05d;
}

.featuresCard:nth-child(6) {
    background-color: #7d78b1;
}

@media screen and (max-width:768px) {
    .featuresGrid {
        grid-template-columns: repeat(1, 1fr);
    }

}

/*Testimonial section*/
.testimonialContainer {
    max-width: 1290px;
    padding: 2rem;
    margin: 0 auto;

}

.testimonialContent {
    display: flex;
    flex-direction: column;
    gap:2rem;
    /* align-items: center; */

}

.testimonialTitle {
    margin: 1rem 0;
    font-size: 1.3rem;
}

.testimonialGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonialIconImg {
    height: 5rem;

}

.testimonialCard {
    border: 1px solid rgb(171, 163, 163);
    border-radius: 0.8rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rbga(0,0,0,0.1);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonialCard:hover{
    transform: scale(1.07);
   box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}

.TestimonialCardDesc {
    font-size: 0.875rem;
    color: rgb(85, 85, 85);

}

.Avatar-name {
    font-size: 1rem;
    color: var(--primary-color);
}

.testimonialProfession {
    font-size: 0.875rem;
    color: rgb(85, 85, 85);
}

/*Newsletter Section*/


.newsContainer{
    max-width: 1290px;
    background-color: var(--background-color);
    padding:0;
    height: 40.5vh;
    margin:0 auto;
    /* border: 1px solid black; */

}
.newsContent{
    display: flex;
    width: 100%;
    height:100%;overflow: hidden;
    border-radius: 8px;
    /* border: 1px solid blue; */
}
.newsLeft{
    width:50%;
    display:none;
    
    position: relative;
    

}
.newsImg{
    width:100%;
    height:100%;
    inset:0;
    object-fit:cover;
    object-position: center;
}
.newsRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:1.5rem;
    background-color: var(--light-gray);
    padding: 1rem;
    width:98%;

}
.newsInfo{
    padding: 0 3rem;
    text-align: left;
}
.newsHeading{
    font-size: 1.5rem;
    color:var(--primary-color);

}
.newsDesc{
    color:var(--gray)
}
form{
     padding: 0 3rem;
    text-align: left;
    display:flex;
    flex-wrap: wrap;
    gap:0.7rem;
}
.newsInput{
    border:1px solid rgb(204, 204, 204);
    outline: none;
    
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;

}
.newsInput:focus{
    border:1px solid  #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.sendButton{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    color: white;
    border-radius:0.3rem;
    border:none;
}
.sendButton:hover{
    background-color: var(--link-color);

}
.policy{
     padding: 0 3rem;
     font-size: 12px;
     color: rgb(119, 119, 119);
}
.newslink{
    text-decoration:underline;
     color: #2563eb;

}
@media screen and (min-width:648px){
    .newsRight{
        width:50%;

    }
    .newsLeft{
        display: block;
    }
    .newsContainer{
        padding: 2rem;
    }
    .newsHeading{
        font-size: 2.5rem;
    }
}