@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    text-align: center;
}
.header{
    width:100%;
    /* border:1px solid black; */
}
.header-container{
    max-width:1290px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    /* border:1px solid black; */
    padding: 1rem;
    
}
.logo{
    display: flex;
    align-items: center;
    gap:0.625rem;
    font-size:2rem;
    font-weight: bold;
    color:#333333;


}
.logo-icon{
    height:5.8rem;
    width: 1.9rem;

}
.navlist{
    /* width:375px; */
    display: none;
   
    gap:1.5rem;
    
  
    
}

.navlist a{
    color:rgb(113, 128, 150);
    font-size:18px;
    font-weight: 600;
    transform: color 0.1s ;
    
}
.navlist a:hover{
    color:var(--link-color);
}

.Contact-button{
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.5rem;
    border-radius:0.6rem;
    display:none;
    font-weight: 600;
}
.menubutton{
    
    background-color: var(--background-color);
    border:none;
    display: inline-block;
    padding:0.5rem 0.9rem;
}
.menu-icon{
    height:1.5rem;
    width:1.5rem;
}

@media screen and (min-width:768px) {
    .Contact-button{
        display: block;
    }
    .navlist{
        display: flex;
    }
   .menubutton{
        display: none;
   }
}
.content{
width: 100%;
}
.main{
    max-width: 1290px;
display: flex;
gap:2rem;
flex-direction: column;

align-items: center;
margin:0 auto;
/* border: 1px solid black; */
padding:0.7rem;
    

}

.main-intro{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}
.main-title{
    font-size: 2.3rem;
    font-weight: bold;
    padding: 1.1rem;
    color:var(--text-color);

}
.titleDescription{
    font-size: 1.2rem;
    color:var(--gray);
    
}
.buttonGroup{
    padding:1rem;
    margin-top:1rem;
    display: flex;
    gap:2rem;
justify-content: center;
align-items: center;


}
.start,
.tour{

border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.8rem 1.5rem;
    border-radius:0.6rem;
    font-weight: 600;
}
.tour{
    background:var(--dark-gray);
}
.start:hover{
    background-color: var(--accent-color);
}
.tour:hover{
    background-color: var(--gray);
    
}
.left{
    text-align: center;
    opacity:0;
    animation: slideleft 1s ease forwards;

}
@keyframes slideleft {
    0%{
        transform:translate(-100px);
        opacity: 0;


    }
    100%{
        transform: translate(0);
        opacity:1
    }
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    
    height: 50vh;
    overflow: hidden;
    border-radius: 1.22rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border:none;
   

}
.img{
    height: 100%;
    width: 100%;
}
@media  screen and (min-width:768px) {
    .main{
        flex-direction:row;
    }
    .left{
        max-width: 50%;
        text-align: left;
    }
    .img-container{
        height: 68vh;
    }
    .main-title{
        font-size: 3.8rem;
        padding-left: 0;

    }
    .main-intro{
        padding-left: 0;
        font-size: 1.3rem;
    }
    .buttonGroup{
        justify-content: flex-start;
        padding-left: 0;
    }
}